    {% extends 'base.html.twig' %}
    {% block body %}
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <div class="d-flex TitleWrap">
                <h1 class="h3 mb-0 text-gray-800">Flows</h1>
            </div>
        </div>
        <div class="TitlelBackFile">
            <a class="btn btn-dark" href="{{ path('flow_url_trigger')}}">
            <i class="fa fa-globe " aria-hidden="true"></i>
            Flow-Url-Trigger
            </a>
        </div>
        <br>
	    <!-- Content Row -->
        <div class="row">
        {% for flow in flows %}
        <!-- Flow Example -->
            <div class="col-xl-3 col-md-6 mb-4">
            {% if flow.getLastRunLog() == "ERROR" %}
            <div class="card border-left-primary flowElementErorr shadow h-100 py-2">
            {% else %}
                {% if flow.isActiv() == false %}
                <div class="card border-left-primary flowElementStop shadow h-100 py-2">
                {% else %}
                <div class="card border-left-primary flowElementplay shadow h-100 py-2">
                {% endif %}
            {% endif %}
                    <div class="card-body">
                        <div class="row no-gutters align-items-center flowTextElement">
                            <div class="col mr-2">
                                <div class="h5 mb-0 font-weight-bold text-gray-800 titleFlowElement">{{ flow.getDisplayName()}}</div>
                            </div>
                            <div class="col-auto spaceBetween">
                                <a id="{{ flow.id }}"  href="{{ path('flow_start',{id: flow.id }) }}">
                                <i class="fas fa-play startButton"></i>
                                </a>
                                <a id="{{ flow.id }}" href="{{ path('flow_stop',{id: flow.id }) }}">
                                <i class="fas fa-stop stopButton"  ></i>
                                </a> 
                                <a class="" href="{{ path('flowProtkoll',{id:flow.id }) }}">
                                <i class="fas fa fa-history protcolButton"></i> 
                                </a>
                                <a class="" href="{{ path('flow_access',{id:flow.id }) }}">
                                <i class="fa fa-check errorBeheben"></i> 
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
             <!-- end Flow Example -->
              {% endfor %}
        </div>
        {% for message in app.flashes('success')%}
                <div class="alert alert-success">
                    {{ message }}
                 </div>
        {% endfor %}
        {% for message in app.flashes('error')%}
                <div class="alert alert-danger">
                    {{ message }}
                 </div>
        {% endfor %}
    </div>
    <!-- /.container-fluid -->
{% endblock %}